.hourlyForecast {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.hourlyList {
  display: flex;
  gap: 10px;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 205, 0.1);
  border-radius: 10px;
  min-width: 80px;
}
.hour img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
}
.hour p {
  font-size: 12px;
}

@media (min-width: 768px) {
  .hour {
    min-width: 100px;
    padding: 15px;
  }

  .hour img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .hour p {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .hour {
    min-width: 120px;
    padding: 10px;
  }

  .hour img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .hour p {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .hour {
    min-width: 120px;
    padding: 10px;
  }

  .hour img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .hour p {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .hour {
    min-width: 120px;
    padding: 10px;
  }

  .hour img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .hour p {
    font-size: 18px;
  }
}
