.dailyForecast {
  padding: 20px;
  background-color: rgba(395, 255, 205, 0.1);
  border-radius: 10px;

  overflow-x: auto;
}

.dailyList {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.title {
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: rgba(255, 255, 205, 0.1);
  border-radius: 10px;
  min-width: 100px;
}

.day img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
}

.day p {
  margin: 5px 0;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .dailyForecast {
    padding: 10px;
    overflow-x: auto;
  }
  .dailyList {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .day {
    min-width: 100px;
    max-height: 90px;
    padding: 5px;
  }

  .day img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
  }

  .day p {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .day {
    min-width: 150px;
    padding: 20px;
    min-height: 135px;
  }

  .day img {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .day p {
    font-size: 18px;
  }

  .title {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .dailyForecast {
    padding: 10px;
  }
  .dailyList {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
  }
  .day {
    min-width: 120px;
    min-height: 90px;
    padding: 10px;
  }

  .day img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .day p {
    margin: 0px 0px;
    font-size: 14px;
  }

  .title {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  .dailyForecast {
    padding: 15px;
  }
  .dailyList {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
  }
  .day {
    min-width: 140px;
    min-height: 110px;
    padding: 10px;
  }

  .day img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
  }

  .day p {
    margin: 0px 0px;
    font-size: 18px;
  }

  .title {
    font-size: 20px;
  }
}
